* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9197ae;
}

main{
    background-color: #eff6ee;
    height: 700px;
    width: 750px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.kanban-header{
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

button {
    height: 50px;
    width: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    border: none;
    background-color: transparent;
    font-size: 40px;

    cursor: pointer;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.1s ease;
}

button:hover img{
    transform: scale(0.9);
}

button:active{
    transform: scale(0.85);
}

.kanban-board{
    height: 680px;
    width: 750px;
    /* background-color: red; */
    display: flex;
    align-items: stretch;
    justify-content: center;
    overflow-y: auto;
}

.kanban-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.column {
    height: 100%;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    padding-top: 80px;

    position: relative;
}

.todo-col {
    background: rgba(239, 152, 161);
}

.progress-col {
    background: rgba(213, 210, 253);
}

.done-col {
    background: rgba(245, 182, 120);
}

.column-lable{
    margin-top: 5px;
    width: 240px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;justify-content: center;

    color: rgb(61, 61, 61);

    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.7);

    position: fixed;
    transform: translateY(50%);
    top: 60px;
}

.task{
    height: 150px;
    min-height: 150px;
    width: 230px;
    background-color: #fefced;    
    border-radius: 4px;
    cursor: grab;
    text-align: left;
    padding: 10px;
    margin-top: 10px;

    box-shadow: inset 1px 1px 2px rgba(78, 78, 78, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.task.dragging {
    opacity: 0.5;
}

.column.drag-over {
    border: 2px dashed #ffffff;
}

.task-input{
    font-size: 15px;
    color: rgb(62, 62, 62);
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}