* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cloud-mask-layer {
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: hsl(197, 100%, 50%);
    mask-image: url('image/cloud.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    filter: drop-shadow(0 0 25px currentColor);
}

.rain-area {
    top: 5px;
    height: 420px;
    width: 150px;
    background-color: transparent;
    margin-top: -20px;
    position: relative;
    overflow: hidden;
}

.drop {
    position: absolute;
    top: -20px;

    width: 2px;
    height: 18px;
    border-radius: 50%;

    background: linear-gradient(
        to bottom,
        rgb(0, 204, 255),
        rgba(16, 107, 176, 0.2)
    );

    box-shadow:
        0 0 6px rgb(52, 149, 214),
        0 0 12px rgba(80, 160, 255, 0.6);

    animation:
        fall linear infinite,
        dropFlicker 2s ease-in-out infinite;
}


@keyframes fall {
    0% {
        transform: translateY(0) scaleY(0.7);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translateY(420px) scaleY(1.1);
        opacity: 0;
    }
}

@keyframes dropFlicker {
    0%, 100% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.6);
    }
}


