* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
}

main{
    height: 600px;
    width: 788px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 28px;
}

ul{
    height: 100px;
    width: 700px;
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.user-tab{
    height: 50px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #f3f3f3;
    border: none;
    outline: 2px solid #d1d1d1;
    cursor: pointer;
}

.user-tab.blur{
    filter: blur(2px);
}

.context-menu {
    height: 350px;
    width: 320px;
    background-color: #f3f3f3;
    outline: 1px solid #ababab;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.menu-header{
    height: 60px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    border-bottom: 1px solid #ababab;

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
    gap: 10px;

}

.comm-btn{
    border: none;
    background-color: transparent;
    outline: 1px solid #ababab;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 10px;
    flex: 1;

    cursor: pointer;
}

.comms-icon{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.menu-body{
    height: 240px;
    width: 100%;
    border-bottom:1px solid #ababab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-item{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(250, 250, 250);
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(190, 190, 190);
    cursor: pointer;
}

.body-item:hover{
    background-color: #d1d1d154;
    opacity: 1;
}

.item-icon{
    height: 50px;
    width: 50px;
    display: flex;
}

.item-icon>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 10px;
    opacity: 0.6;
}

.item-desc{
    font-size: 15px;
    color: #565656;
}

.mute{
    border-bottom: none;
}

.menu-footer{
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button{
    height: 40px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 18px;
    background-color: rgba(255, 165, 165, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 15px;
    color: rgb(255, 0, 0);
    padding: 10px;
    cursor: pointer;
}

.delete-icon{
    height: 100%;
    display: block;
    object-fit: contain;
}
