*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

.wrapper{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.text-input-area {
    width: 580px;
    height: 300px;

    padding: 16px 18px;
    font-size: 16px;
    line-height: 1.5;

    border: none;
    outline: none;
    resize: none;

    border-radius: 15px 0 15px 0;
    background-color: white;

    box-shadow: 
        0 8px 20px rgba(0, 0, 0, 0.15),
        inset 0 0 0 1px rgba(0,0,0,0.05);

    transition: box-shadow 0.15s ease, transform 0.1s ease;
}

.text-input-area:focus {
    box-shadow: 
        0 10px 25px rgba(139, 183, 255, 0.4),
        inset 0 0 0 2px rgb(139, 183, 255);
}


.text-input-area::placeholder {
    color: rgb(141, 141, 141);
}

.output-button-wrapper {
    width: 590px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.output-field {
    flex: 1;
    height: 50px;
    padding: 16px 16px;
    box-sizing: border-box;
}

.clear-input {
    height: 50px;
    width: 150px;
    border: none;
    background-color: rgb(139, 183, 255);
    font-size: 18px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.467);
    color: rgb(255, 255, 255);
    align-self: flex-end;
    transition: 0.1s ease-in-out;
}

.clear-input:hover {
    color: white;
    transform: translateY(2px);
}

.clear-input:active {
    transform: scale(0.99);
}