*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #e0e1dd;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.faq {
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    overflow-y: auto;
}

.faq-item {
    width: 490px;
    background-color: #bcd8fd6a;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 10px;
}

.faq-question{
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: block;
    border-radius: 100%;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.active {
    background-color: rgb(145, 121, 253);
    color: white;
    transform: rotateZ(180deg);
}

.faq-answer{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}
