:root{
    --main-bg: #e6e8e6;
    --dropdown-bg: #f7f3e3;
    --btn-color: #df2935;
    --hover-accent-item: #6f1a07;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 488px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-header {
    min-height: 38px;
    max-height: fit-content;
    width: 300px;
    background-color: var(--dropdown-bg);
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.dropdown-left{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: rgb(54, 54, 54);
}

.dropdown-right{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    height: 10px;
    width: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-color);
    rotate: -90deg;

    cursor: pointer;

    transition: transform 0.1s ease;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}

.button:hover {
    transform: scale(1.2);
}

.button:active {
    transform: scale(1);
}

.button.focus{
    transform: rotateZ(90deg);
}

.dropdown-menu {
    margin-top: 10px;
    height: fit-content;
    width: 300px;
    transform: translateY(-5px);
    opacity: 0;
    pointer-events: none;
    transition: 0.15s ease;
}

.dropdown-menu.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown-list {
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown-item {
    list-style: none;
    width: 300px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--dropdown-bg);
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.1);
   cursor: pointer; 
}

.dropdown-item:hover {
    background-color: var(--hover-accent-item);
    color: #f7f3e3;
}

.dropdown-item.selected {
  background-color: #6f1a07;
  color: white;
}

.dropdown-item.focused {
    outline: 2px solid #6f1a07;
}

.dropdown-header.focused {
  outline: 2px solid #6f1a07;
  color: white;
}


