* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background-color: rgb(0, 0, 0);
}

.main-bg {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    height: 170px;
    max-width: 710px;
    width: 90vw;
    position: absolute;
    bottom: 20px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    overflow: hidden;
}

button{
    height: 100%;
    width: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

button:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}

button:active {
    transform: translateY(1px);
}

.prev-button {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.next-button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.carousel-frame {
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.carousel-slider{
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image-wrapper {
    height: 90%;
    width: 28%;
    min-width: 160px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.image-wrapper.scale {
    transform: scale(1.09);
}

.image-wrapper:last-child {
    margin-right: 0;
}


img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}